
@{
    ViewData["Title"] = "Game";
}

<h2>Conway's Game of Life</h2>

<div>
    <input id="horizon_num" value="@CellsModel.HorizonNumber" />
    <input id="vertical_num" value="@CellsModel.VerticalNumber" />
    <button id="run_game" onclick="">run</button>
    <br />
    <br />
    <br />
    <br />
    <table class="table-striped">
        @{
            for (int i = 0; i < CellsModel.VerticalNumber; i++)
            {
                <tr>
                    @{
                        for (int j = 0; j < CellsModel.HorizonNumber; j++)
                        {
                            if (CellsModel.Face[j, i])
                            {
                                <td height="45px" width="80px" style="color:aqua">
                                    <div class="greencell" />
                                </td>
                            }
                            else
                            {
                                <td height="45px" width="80px" style="color:gray">
                                    <div class="graycell" />
                                </td>
                            }
                        }
                    }
                </tr>
            }
        }
    </table>
</div>
<br />
<br />
<br />
<br />