
@{
    ViewData["Title"] = "Game";
}


<h2>Conway's Game of Life</h2>


<div>
    <input id="horizon_num" value="@CellsModel.HorizonNumber" />
    <input id="vertical_num" value="@CellsModel.VerticalNumber" />
    <button id="run_game">run</button>
    <br />
    <br />
    <br />
    <br />

    @*<button id="refreshbutton">Refresh</button>*@
    <br />
    <br />
    <br />
    <table class="table-striped">
        @{
            for (int i = 0; i < CellsModel.VerticalNumber; i++)
            {
                <tr>
                    @{
                        for (int j = 0; j < CellsModel.HorizonNumber; j++)
                        {
                            string id = "id" + "_" + i.ToString() + "_" + j.ToString();
                            if (CellsModel.Face[j, i])
                            {
                                <td height="45px" width="80px" >
                                    <div id="@id">
                                        <div class="cell" style="background-color: green" />
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td height="45px" width="80px">
                                    <div id="@id">
                                        <div class="cell" style="background-color: gray" />
                                    </div>
                                </td>
                            }
                        }
                    }
                </tr>
            }
        }
    </table>
</div>
<br />
<br />
<br />
<br />