
@{
    ViewData["Title"] = "Game";
}

<br />
<h2>Conway's Game of Life</h2>


<div>
    <br />
    <br />
    <input class="input-lg" id="horizon_num" placeholder="input x value here" />
    <input class="input-lg" id="vertical_num" placeholder="input y value here" />
    <button id="run_game" class="btn-lg" onclick="resetGame()" style="background-color: cadetblue" type="button">run</button>
    <br />
    <br />
    <button id="start" onclick="sendStart" class="btn-lg" style="background-color: aqua" type="button">Start</button>
    <button id="pulse" onclick="sendPulse" class="btn-lg" style="background-color: aquamarine" type="button">Pulse</button>
    <br />
    <br />
    <br />

    @using (Html.BeginForm("CommitXY", "Home"))
    {
    <div>
        <br />
        <br />
        <input name="input_X" class="input-lg" id="horizon_num" placeholder="input x value here" />
        <input name="input_Y" class="input-lg" id="vertical_num" placeholder="input y value here" />
        <input type="submit" class="btn-lg" value="commit" />
        <br />
        <br />
    </div>
    }


    <table class="table-striped">
        @{
            for (int i = 0; i < CellsModel.VerticalNumber; i++)
            {
                <tr>
                    @{
                        for (int j = 0; j < CellsModel.HorizonNumber; j++)
                        {
                            string id = "id" + "_" + i.ToString() + "_" + j.ToString();
                            if (CellsModel.Face[j, i])
                            {
                                <td height="80px" width="80px" class="cont">
                                    <div id="@id" class="incont">
                                        <div class="cell" style="background-color: darkgreen" />
                                    </div>
                                </td>
                            }
                            else
                            {
                                <td height="80px" width="80px" class="cont">
                                    <div id="@id" class="incont">
                                        <div class="cell" style="background-color: darkgray" />
                                    </div>
                                </td>
                            }
                        }
                    }
                </tr>
            }
        }
    </table>
</div>
<br />
<br />
<br />
<br />