body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.greencell {
    width: 16px;
    height: 16px;
    background-color: green;
    border-radius: 8px;
    display: inline-grid;
}

.graycell {
    width: 16px;
    height: 16px;
    background-color: gray;
    border-radius: 8px;
    display: inline-grid;
}

.cell {
    width: 80px;
    height: 80px;
    background-color: white;
    border-radius: 20px;
    display: inline-grid;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.input-lg:focus,
.input-lg:active:focus,
.input-lg.active:focus,
.input-lg.focus,
.input-lg:active.focus,
.input-lg.active.focus {
    outline: none;
}

.btn-lg:focus,
.btn-lg:active:focus,
.btn-lg.active:focus,
.btn-lg.focus,
.btn-lg:active.focus,
.btn-lg.active.focus {
    outline: none;
}

/*Note_201806062325: hide button ouline.*/


/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
